
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Luxury Wheels{% endblock %}</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css"
          integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>
<body>


    <div class="container">

        <div  class="col" >
            <div id="header">
            <div id="home">
           <a  href="index" style="color:black"> Home</a>
            </div>
            <div id="admin">
           <a  href="" style="color:black"> Manager Login</a>
            </div>
        </div>


        <div class="form-group">
        <h1 style="text-align: center">Welcome to Luxury Wheels</h1>

        <label class="form-label mt-4"><h4>Register</h4></label>
            <div  class="form-floating mb-3">
        <input style="width: 50%" type="email" class="form-control" id="nameingInput" placeholder="Name">
        <label for="floatingInput">Name</label>
        </div>
        <div  class="form-floating mb-3">
        <input style="width: 50%" type="email" class="form-control" id="floatingInput" placeholder="email">
        <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
        <input style="width: 50%" type="password" class="form-control" id="floatingPassword" placeholder="Password" autocomplete="off">
        <label for="floatingPassword">Password</label>
        </div>
            <div class="form-floating mb-3 ">
        <input style="width: 50%" type="password" class="form-control" id="checkPassword" placeholder="Password" autocomplete="off">
        <label for="floatingPassword">Check Password</label>
        </div>
            <div >
                <button style="width:150px" type="button" class="btn btn-primary btn-lg">Register</button>
            </div>

        </div>
    </div>




</div>



</body>
</html>
