
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Luxury Wheels{% endblock %}</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css"
          integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>
<body>


    <div class="container">
        <div id="header">
            <div id="home">
                <a  href="{{url_for('page_index')}}" style="color:black"> Home</a>
            </div>
        <div id="admin">
            <a  href="" style="color:black"> Manager Login</a>
        </div>
        </div>


        <div class="form-group">
            <h1 style="text-align: center">Welcome to Luxury Wheels</h1>

            <label class="form-label mt-4"><h4>Register</h4></label>
            <form method="POST" action="">
                {{form.hidden_tag()}}
                <div  class="form-floating mb-3">
                    {{form.username(class="form-control",placeholder="name") }}
                    <label for="floatingInput">Name</label><br>

                </div>
                <div  class="form-floating mb-3">
                    {{form.user_email(class="form-control",placeholder="email") }}
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    {{form.user_password(class="form-control",placeholder="password") }}
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating mb-3 ">
                    {{form.user_check_password(class="form-control",placeholder="password check") }}
                    <label for="floatingPassword">Check Password</label>
                </div>
                <div>
                    {% for subfield in form.user_category %}
                    <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}

                </div>
                <div >
                    {{form.submit(class="btn btn-primary btn-lg")}}

                </div>
            </form>
        </div>

    </div>








</body>
</html>
